*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../img/fondo.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: contain;
background-size: cover;
}

p{
    display: flex;
    justify-content: center;
    padding: 2vh;
    font-size: 50px;
    color: #66E7C8;
}

h4{
    color: #66E7C8;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s, transform 3s;
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
  }
/*MENU DESPLEGABLE----------------------------------------------------------------------------------------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: #191c32;
    color: #191c32;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
    float: right;
    line-height: 7vh;
    margin-right: 3vh;
}


.menu li:last-child {
    margin-right: 0;
}

.menu ul{
    display: flex;
    list-style: none;
}
.menu a {
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    transition: all 500ms ease;
}

.menu a:hover {
    color: black;
    background: #66E7C8;
    box-shadow: 10px 10px 10px rgba(0, 247, 255, 0.2);
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/*ACERCA DE MI----------------------------------------------------------------------------------------------------*/
.acerca{
    background-color: #191c32;
    color: white;
    height: 100vh;
}

.acerca p{
    margin-top: 7vh;
}
.am{
    display: flex;
}

g{
    width: 80%; 
    padding: 2vh;
    font-size: 3vh;
}

img{
    width: 20%;
    height: 20%;
    border:  7px solid aqua;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 10px 10px 10px rgba(0, 247, 255, 0.2);
}
/*EXPERIENCIA----------------------------------------------------------------------------------------------------*/
.experiencia{
    margin-top: 3vh;
    margin-bottom: 10vh;
    padding: 4vh;
    color: white;
}
/*EDUCACION------------------------------------------------------------------------------------------------------*/
.educacion{
    margin-top: 30vh;
    padding: 2vh;
    background-color: #191c32;
    color: white;
}
.educacion h4{
    display: flex;
    justify-content: center;
}
.educacion h5{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*HABILIDADES------------------------------------------------------------------------------------------------------*/
.habilidades{
    margin-top: 200px;
    padding: 2vh;
    color: white;
    height: 100vh;
}
.progress-container {
    width: 100%;     
    margin: 5vh auto;
    border-radius: 50px;
    overflow: hidden;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(95, 255, 3, 0.2);
    }
.progress { 
    height: 30px; 
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px; 
    color: white;
    width: 0;
    transition: width 0.3s ease;
}
.progress:hover {
    width: 100%;
  }
#html-progress {
    animation: fillHtmlProgress 1.5s ease-in-out forwards;
  }
  
  #css-progress {
    animation: fillCssProgress 2s ease-in-out forwards;
  }
  
  #js-progress {
    animation: fillJsProgress 2.5s ease-in-out forwards;
  }

  #sql-progress{
    animation: fillsqlProgress 3s ease-in-out forwards;
  }
  
  @keyframes fillHtmlProgress {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }
  
  @keyframes fillCssProgress {
    from {
      width: 0;
    }
    to {
      width: 85%;
    }
  }
  
  @keyframes fillJsProgress {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  }

  @keyframes fillsqlProgress {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
}

/*PROYECTOS------------------------------------------------------------------------------------------------------*/
.proyectos{
    margin-top: 12vh;
    padding: 2vh;
    background-color: #191c32;
    color: white;
    height: 100vh;
}
.proyectos h4{
    display: flex;
    justify-content: center;
}
.proyects{
    display: flex;
}
.p1{
    display: 50%;
    padding: 2vh;
}
.p2{
    display: 50%;
    padding: 2vh;
}
/*PIE-------------------------------------------------------------------------------------------------------------*/
.pie{
    display: flex;
    align-items: center;
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
}
  
.buttons a {
    text-decoration: none;
    font-size: 40px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 20%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
  
.buttons a:hover {
    transform: scale(1.2);
}
  
.fa-twitch {
    background: rgb(128, 57, 128);
    color: white;
}
  
.fa-instagram {
    background: #cb205f;
    color: white;
}
  
.fa-twitter {
    background: #007bb5;
    color: white;
}

.fa-youtube{
    background: white;
    color: red;
}

.fa-whatsapp{
    background: green;
    color: white;
}

.fa-github{
    background: white;
    color: black;
}


/*PARA CELULAR-------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
    nav{
        color: white;
    }
    .menu {
        display: none;
    }

    .menu.show {
        display: block;
        position: absolute;
        top: 40px;
        background-color: #191c32;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .menu-toggle{
        cursor: pointer;
    }
    .menu li {
        margin: 10px 0;
    }
    .acerca{
        background-color: #191c32;
        color: white;
        height: 100%;
    }
    .habilidades{
        margin-top: 12vh;
        padding: 2vh;
        color: white;
        height: 100%;
    }

    .proyectos{
        margin-top: 12vh;
        padding: 2vh;
        background-color: #191c32;
        color: white;
        height: 100%;
    }

    .buttons{
        min-width: 450px;
    }
    .pie{
    justify-content: center;
    }
    .buttons a {
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    img{
        display: none;
    }

}



