*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #191c32;
    color: white;
}

.portada{
    display: flex;
}
/*INFORMACION--------------------------------------------------------------------------------------------------------------------*/
.info{
    width: 50%;
}
.text{
    margin-top: 40vh;
    margin-left: 40vh;
}
h1{
    color: aqua;
    margin-left: 7%;
}

p{
    font-size: auto;
    margin-left: 5%;
    margin-right: 5%;
}
/*FOTO--------------------------------------------------------------------------------------------------------------------*/
.foto{
    width: 50%;
}
img{
    border-radius: 30px;
    border:  7px solid aqua;
    width: 350px;
    height: 520px;
    z-index: 1;
    margin-top: 15vh;
    box-shadow: 10px 10px 10px rgba(0, 247, 255, 0.2);
  }
/*BOTON----------------------------------------------------------------------------------------------------------------------------*/
button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
    box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
}
/*PARA CELULAR---------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
    .info{
        width: 100%;
    }
    .text{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 40vh;
    }
    p{
        font-size: 15px;
    }
    button{
        margin-left: 40%;
        margin-right: 40%; 
    }
    .foto{
        width: 0%;
        display: none;
    }
}
